geopandas==0.14.4
shapely==2.0.4
requests==2.32.3
psycopg2-binary==2.9.9
supabase==2.16.0
python-dateutil==2.9.0
pystac-client==0.7.7
planetary-computer==1.0.0
xarray==2024.3.0
scipy==1.13.1
wbgapi==1.0.12
fiona==1.9.6
pyproj==3.6.1
